07_chatbot/NodeRED_chatbot_structure.json
[{"id":"4207d85f.847248","type":"tab","label":"chatbot","disabled":false,"info":""},{"id":"55278c2a.66bd64","type":"chatbot-telegram-receive","z":"4207d85f.847248","bot":"c25b0f9a.b62af","botProduction":"","x":130,"y":60,"wires":[["2b52ed0d.c200d2"]]},{"id":"2b52ed0d.c200d2","type":"chatbot-authorized","z":"4207d85f.847248","x":310,"y":60,"wires":[["41660009.d7123"],["3df2dd27.d58ef2"]]},{"id":"f107d62.9f4b028","type":"chatbot-rules","z":"4207d85f.847248","name":"msg type","rules":[{"type":"anyCommand"},{"type":"messageType","messageType":"message"},{"type":"messageType","messageType":"location"},{"type":"messageType","messageType":"photo"},{"type":"catchAll"}],"outputs":5,"x":180,"y":240,"wires":[["b6d4b9d7.3c5568"],["64f2df79.5665c"],["e9e9d8aa.998be8"],["f56fb85.59eba48"],["5263fabc.6ae7f4"]],"outputLabels":["command","text","location","img","something else"]},{"id":"3df2dd27.d58ef2","type":"chatbot-message","z":"4207d85f.847248","name":"not auth.","message":[{"message":"Sorry, I am not allowed to talk to strangers..."}],"answer":false,"track":false,"x":500,"y":80,"wires":[["bf82c4de.6f3b58"]]},{"id":"bf82c4de.6f3b58","type":"chatbot-telegram-send","z":"4207d85f.847248","bot":"c25b0f9a.b62af","botProduction":"","track":false,"outputs":0,"x":710,"y":80,"wires":[]},{"id":"5411cb5d.f7bff4","type":"link in","z":"4207d85f.847248","name":"auth ->","links":["41660009.d7123"],"x":55,"y":240,"wires":[["f107d62.9f4b028"]]},{"id":"fd0646cc.2ec898","type":"chatbot-rivescript","z":"4207d85f.847248","name":"","script":"! version = 2.0\n\n+ hi\n- hey\n- hello\n- what's up?\n\n+ hello\n@ hi\n\n+ hey\n@ hi\n","debug":false,"x":210,"y":680,"wires":[["bff26f8.a24a59"],["daa719bf.1c4c08"]]},{"id":"b6d4b9d7.3c5568","type":"link out","z":"4207d85f.847248","name":"-> command","links":["9ac53f3a.a1d86"],"x":335,"y":140,"wires":[]},{"id":"9ac53f3a.a1d86","type":"link in","z":"4207d85f.847248","name":"command ->","links":["b6d4b9d7.3c5568"],"x":55,"y":480,"wires":[["bef16ad0.4ad798","8c23c6f5.c81a68","33e85aeb.59c076"]]},{"id":"ad6789d0.16acc8","type":"comment","z":"4207d85f.847248","name":"the message is a command","info":"","x":160,"y":400,"wires":[]},{"id":"bef16ad0.4ad798","type":"chatbot-command","z":"4207d85f.847248","name":"","command":"/start","x":190,"y":460,"wires":[["15df7510.6514db"]]},{"id":"8c23c6f5.c81a68","type":"chatbot-command","z":"4207d85f.847248","name":"","command":"/help","x":190,"y":500,"wires":[["15df7510.6514db"]]},{"id":"15df7510.6514db","type":"chatbot-message","z":"4207d85f.847248","name":"intro","message":[{"message":"Hi, I am a chatbot."}],"answer":false,"track":false,"x":430,"y":460,"wires":[["61d44b04.c99174"]]},{"id":"bff26f8.a24a59","type":"chatbot-message","z":"4207d85f.847248","name":" (answer)","message":[{"message":""}],"answer":false,"track":false,"x":400,"y":660,"wires":[["8527cef8.81f55"]]},{"id":"daa719bf.1c4c08","type":"chatbot-message","z":"4207d85f.847248","name":"really?","message":[{"message":"Really?"}],"answer":false,"track":false,"x":410,"y":720,"wires":[["8527cef8.81f55"]]},{"id":"f56fb85.59eba48","type":"link out","z":"4207d85f.847248","name":"-> img","links":["25f2a5b0.db312a","6a5f25ab.0f48ec"],"x":335,"y":260,"wires":[]},{"id":"e9e9d8aa.998be8","type":"link out","z":"4207d85f.847248","name":"-> location","links":["34c7f2ea.16160e"],"x":335,"y":220,"wires":[]},{"id":"34c7f2ea.16160e","type":"link in","z":"4207d85f.847248","name":"location ->","links":["e9e9d8aa.998be8"],"x":55,"y":1020,"wires":[["54bb3947.592a48"]]},{"id":"25f2a5b0.db312a","type":"link in","z":"4207d85f.847248","name":"img ->","links":["f56fb85.59eba48"],"x":55,"y":840,"wires":[["914f4b13.9d0fb8","b933da6f.110718"]]},{"id":"5263fabc.6ae7f4","type":"chatbot-message","z":"4207d85f.847248","name":"unknown type","message":[{"message":"What?"}],"answer":false,"track":false,"x":400,"y":300,"wires":[["4d28a3c6.eaf7bc"]]},{"id":"8cfc3136.e63a2","type":"comment","z":"4207d85f.847248","name":"the message is a location","info":"","x":150,"y":960,"wires":[]},{"id":"2eb2a86b.933168","type":"link in","z":"4207d85f.847248","name":"text ->","links":["64f2df79.5665c"],"x":55,"y":680,"wires":[["fd0646cc.2ec898"]]},{"id":"64f2df79.5665c","type":"link out","z":"4207d85f.847248","name":"-> text","links":["2eb2a86b.933168"],"x":335,"y":180,"wires":[]},{"id":"61d44b04.c99174","type":"chatbot-telegram-send","z":"4207d85f.847248","bot":"c25b0f9a.b62af","botProduction":"","track":false,"outputs":0,"x":630,"y":460,"wires":[]},{"id":"9797b235.5d342","type":"comment","z":"4207d85f.847248","name":"check message type","info":"","x":130,"y":160,"wires":[]},{"id":"41660009.d7123","type":"link out","z":"4207d85f.847248","name":"-> auth","links":["5411cb5d.f7bff4"],"x":435,"y":40,"wires":[]},{"id":"4d28a3c6.eaf7bc","type":"chatbot-telegram-send","z":"4207d85f.847248","bot":"c25b0f9a.b62af","botProduction":"","track":false,"outputs":0,"x":630,"y":300,"wires":[]},{"id":"8527cef8.81f55","type":"chatbot-telegram-send","z":"4207d85f.847248","bot":"c25b0f9a.b62af","botProduction":"","track":false,"outputs":0,"x":630,"y":660,"wires":[]},{"id":"3af165fb.f706ca","type":"comment","z":"4207d85f.847248","name":"the message is a sentence","info":"","x":150,"y":620,"wires":[]},{"id":"17e9e135.fefddf","type":"comment","z":"4207d85f.847248","name":"the message is an image","info":"","x":150,"y":780,"wires":[]},{"id":"914f4b13.9d0fb8","type":"chatbot-message","z":"4207d85f.847248","name":" (answer)","message":[{"message":"Oh, nice. A picture. What is it?"}],"answer":false,"track":false,"x":180,"y":840,"wires":[["83b2b5ae.eda0d8"]]},{"id":"83b2b5ae.eda0d8","type":"chatbot-telegram-send","z":"4207d85f.847248","bot":"c25b0f9a.b62af","botProduction":"","track":false,"outputs":0,"x":370,"y":840,"wires":[]},{"id":"b933da6f.110718","type":"debug","z":"4207d85f.847248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":170,"y":880,"wires":[]},{"id":"6d4243ac.f9a8fc","type":"openweathermap","z":"4207d85f.847248","name":"current weather","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":400,"y":1020,"wires":[["196949e6.a2ba86"]]},{"id":"54bb3947.592a48","type":"change","z":"4207d85f.847248","name":"get coords","rules":[{"t":"set","p":"location.lat","pt":"msg","to":"payload.content.latitude","tot":"msg"},{"t":"set","p":"location.lon","pt":"msg","to":"payload.content.longitude","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":1020,"wires":[["6d4243ac.f9a8fc","56c70727.e107b8"]]},{"id":"196949e6.a2ba86","type":"debug","z":"4207d85f.847248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":570,"y":1020,"wires":[]},{"id":"56c70727.e107b8","type":"openweathermap","z":"4207d85f.847248","name":"5-day forecast","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":400,"y":1060,"wires":[["cec7011d.44f02"]]},{"id":"cec7011d.44f02","type":"debug","z":"4207d85f.847248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":570,"y":1060,"wires":[]},{"id":"33e85aeb.59c076","type":"chatbot-command","z":"4207d85f.847248","name":"","command":"/light","x":190,"y":540,"wires":[["c1c3644f.481228","3aa8a0a0.a65ca"]]},{"id":"3aa8a0a0.a65ca","type":"debug","z":"4207d85f.847248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":430,"y":600,"wires":[]},{"id":"c1c3644f.481228","type":"switch","z":"4207d85f.847248","name":"check parameters","property":"$lowercase(msg.payload.arguments[0])","propertyType":"jsonata","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":470,"y":540,"wires":[["c5587ebd.c3c55"],["b6d34818.9ae0b8"],[]]},{"id":"c5587ebd.c3c55","type":"chatbot-message","z":"4207d85f.847248","name":"on","message":[{"message":"ON!"}],"answer":false,"track":false,"x":670,"y":520,"wires":[["99a17339.28062"]]},{"id":"99a17339.28062","type":"chatbot-telegram-send","z":"4207d85f.847248","bot":"c25b0f9a.b62af","botProduction":"","track":false,"outputs":0,"x":870,"y":540,"wires":[]},{"id":"b6d34818.9ae0b8","type":"chatbot-message","z":"4207d85f.847248","name":"off","message":[{"message":"OFF"}],"answer":false,"track":false,"x":670,"y":560,"wires":[["99a17339.28062"]]},{"id":"c25b0f9a.b62af","type":"chatbot-telegram-node","z":"","botname":"ProtoPiBot","usernames":"lennarthennigs","polling":"500","store":"59e3a92f.b834e8","log":"","parseMode":""},{"id":"59e3a92f.b834e8","type":"chatbot-context-store","z":"","name":"","contextStorage":"memory","contextParams":""}]
